{% load i18n %}
<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">{%translate 'Show Menu'%}</span>
</button>

<div class="menu-container menu-hidden">
    <button class="button-close-menu button-show-menu-visible">
        <i class="fas fa-times-circle"></i>
        <span class="hidden-text">{%translate 'Close Menu'%}</span>
    </button>

    <div class="menu-content">
        <nav class="menu-nav">
            <a href="{% url "recipes:home" %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url "authors:new_recipe" %}">{%translate 'New Recipe'%}</a>
                <a href="{% url "authors:dashboard" %}">{%translate 'Dashboard'%}</a>
                <a class="authors-logout-link" href="{% url "authors:logout" %}">{%translate 'Logout'%}</a>
                {% include "authors/partials/form_logout.html" %}
            {% else %}
                <a href="{% url "authors:login" %}">Login</a>
                <a href="{% url "authors:register" %}">{%translate 'Register'%}</a>
            {% endif %}
        </nav>
    </div>
</div>